@page "/showroom"
@inject NavigationManager NavigationManager



<div class="list-container">
    @foreach (var vehicle in vehicles)
    {
        <div class="container">
            <div class="media-img-wrapper">
                <a href="/showroom/@vehicle.Id">
                    <img class="media-img" src="@vehicle.Image" alt="@vehicle.Title" />
                </a>
            </div>
            
            <div class="media-body">
                <h2 class="car-name">@vehicle.Title</h2>
                <hr />
                <div class="car-info">
                    <p><b>Makes: </b>           @vehicle.Make</p>
                    <p><b>Model: </b>           @vehicle.Model</p>
                    <p><b>Year: </b>            @vehicle.Year</p>
                    <p><b>Mileage: </b>         @vehicle.Mileage</p>
                    <p><b>Transmission: </b>    @vehicle.Transmission</p>
                    <p><b>Seats: </b>           @vehicle.Seats</p>
                    <p><b>Fuel Type: </b>       @vehicle.FuelType</p>
                    <p><b>Engine Size: </b>     @vehicle.Engine</p>
                </div>
                <hr />
                <div class="price">
                    <h5>
                        <b>
                            £@vehicle.Price
                        </b>
                    </h5>
                </div>
                <div class="more-details">
                    <a href="/showroom/@vehicle.Id">
                        <h4><b>VIEW MORE DETAILS</b></h4>
                    </a>
                </div>
            </div>
        </div>
    }
</div>

@code
{
    List<CarShop.Shared.Product> vehicles;  // Gets vehicle list

    protected override void OnInitialized()
    {
       this.vehicles = CarShop.Shared.CarList.GetProducts(); 
    }
    
}
