@page "/showroom"
@inject NavigationManager NavigationManager

<h1>Show Room</h1>

<div class="list-container">
    @foreach (var vehicle in vehicles)
    {
        <div class="container">
            <div class="media-img-wrapper">
                <a href="/showroom/@vehicle.Id">
                    <img class="media-img" src="@vehicle.Image" alt="@vehicle.Title" />
                </a>
            </div>
            <div class="media-body">
                <h2 class="car-name">@vehicle.Title</h2>
                <h5 class="price">
                    $@vehicle.Price
                </h5>
                <div class="car-info">
                    <p>@vehicle.Make</p>
                    <p>@vehicle.Model</p>
                    <p>@vehicle.Year</p>
                    <p>@vehicle.Mileage</p>
                    <p>@vehicle.Transmission</p>
                    <p>@vehicle.Seats</p>
                    <p>@vehicle.FuelType</p>
                    <p>@vehicle.Engine</p>
                    <a href="/showroom/@vehicle.Id">
                        <h4 class="more-details">View More Details</h4>
                    </a>
                </div>
            </div>
        </div>
    }
</div>

@code
{
    List<CarShop.Shared.Product> vehicles;

    protected override void OnInitialized()
    {
       this.vehicles = CarShop.Shared.CarList.GetProducts(); 
    }
    
}
