@page "/showroom/{Id:int}"
@inject NavigationManager NavigationManager


<h1>@vehicle.Title</h1>

<div class="car-page">
    <div>
        <img class="media-img" src="@vehicle.Image" alt="@vehicle.Title" />
        <p>Make: @vehicle.Make</p>
        <p>Model: @vehicle.Model</p>
        <p>Year: @vehicle.Year</p>
        <p>Mileage: @vehicle.Mileage</p>
        <p>Transmission: @vehicle.Transmission</p>
        <p>Seats: @vehicle.Seats</p>
        <p>Fuel Type: @vehicle.FuelType</p>
        <a class="buy-button" href="/buy/@vehicle.Id">Purchase</a>
        <a class="finance-button" href="/finance/@vehicle.Id">Finance</a>
    </div>
</div>

@code
{
    [Parameter]
    public int Id { get; set; }

    CarShop.Shared.Product vehicle = null;

    protected override void OnParametersSet()
    {
        this.vehicle = CarShop.Shared.CarList.GetProduct(this.Id);
    }

    private void Navigate()
    {
        NavigationManager.NavigateTo("vehicles");
    }
}

