@page "/showroom/{Id:int}"
@inject NavigationManager NavigationManager

<div class="car-page">
    <div class="car-content">
        <img class="media-img" src="@vehicle.Image" alt="@vehicle.Title" />
        <br />
        <div class="buttons">
                <p>Click here to purchase this vehicle:</p>
                <a class="btn" href="/buy/@vehicle.Id">Purchase</a>
                <p>Or...</p>
                <br />
                <p>Click here to apply to finance this vehicle:</p>
                <a class="btn" href="/finance/@vehicle.Id">Finance</a>
                <p>Or...</p>
                <br />
                <p>Click here to book a test drive:</p>
                <a class="btn" href="">Book a Test Drive</a>
        </div>
        <h2><b>Key Information</b></h2>
        <div class="car-details">
            <ul>
                <li><b>Make:</b>                   @vehicle.Make</li>
                <li><b>Model:</b>                  @vehicle.Model</li>
                <li><b>Year:</b>                   @vehicle.Year</li>
                <li><b>Mileage:</b>                @vehicle.Mileage</li>
                <li><b>Seats:</b>                  @vehicle.Seats</li>
            </ul>
        </div>
        <hr />
        <h2><b>Engine Specifications</b></h2>
        <div class="car-details">          
            <ul>
                <li><b>Engine:</b>                 @vehicle.Engine</li>
                <li><b>Cylinders:</b>              @vehicle.Cylinders</li>
                <li><b>Power:</b>                  @vehicle.Power</li>
                <li><b>Fuel Type:</b>              @vehicle.FuelType</li>
                <li><b>Fuel Capacity:</b>          @vehicle.FuelCapacity</li>
            </ul>
        </div>
        <hr />
        <h2><b>Performance</b></h2>
        <div class="car-details">            
            <ul>
                <li><b>Top Speed:</b>              @vehicle.TopSpeed</li>
                <li><b>Acceleration:</b>           @vehicle.Acceleration</li>
            </ul>
        </div>
        <hr />
        <h2><b>Transmission Specifications</b></h2>
        <div class="car-details">            
            <ul>
                <li><b>GearBox:</b>                @vehicle.GearBox</li>
                <li><b>Drive Type:</b>             @vehicle.DriveType</li>
            </ul>
        </div>
        <hr />
        <h2><b>Vehicle Dimensions</b></h2>
        <div class="car-details">            
            <ul>
                <li><b>Length:</b>                 @vehicle.Length</li>
                <li><b>Width:</b>                  @vehicle.Width</li>
                <li><b>Height:</b>                 @vehicle.Height</li>
                <li><b>Unladed Weight:</b>         @vehicle.WeightUnladed</li>
                <li><b>Gross Weight:</b>           @vehicle.WeightGross</li>
            </ul>
        </div>
        <hr />
        <h2><b>Fuel Economy</b></h2>
        <div class="car-details">            
            <ul>
                <li><b>Fuel Economy City:</b>      @vehicle.FuelEconCity</li>
                <li><b>Fuel Economy Highway:</b>   @vehicle.FuelEconHighway</li>
                <li><b>Fuel Economy Combined:</b>  @vehicle.FuelEconComb</li>
                <li><b>C02 Emissions:</b>          @vehicle.CarbonEmissions</li>
            </ul>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public int Id { get; set; }

    CarShop.Shared.Product vehicle = null;

    protected override void OnParametersSet()
    {
        this.vehicle = CarShop.Shared.CarList.GetProduct(this.Id);
    }

    private void Navigate()
    {
        NavigationManager.NavigateTo("vehicles");
    }
}

